*{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.content{
    border: 2px solid red;
    height: auto;
    width: 49%;
}

.formsection{
    border: 2px solid blue;
    height: auto;
    width: 49%;
}

#ifacebook{
    font-size: 40px;

}

#email{
    width: 300px;
    height: 40px;
}

#password{
    width: 300px;
    height: 40px;
}
#login{
    width: 300px;
    height: 40px;
}

#newAccount{
    border: 2px solid red;
    height: 40px;
    background-color: red;
    color: wheat;
    width: 200px;
    text-align: center;
    padding: 20px 10px 0px 0px ;
    font-size: 20px;
    border-radius: 10px;
    
}

#link{
    text-decoration: none;
    color: blue;
}

#hori{
    margin-left: 50px;
    margin-right: 50px;
}